[Desktop Entry]
Version=1.0
Type=Link
Name=Arch Linux - Package Search
Comment=
Icon=user-bookmarks
URL=https://www.archlinux.org/packages/?sort=&q=xcursor-&maintainer=&last_update=&flagged=&limit=50
