[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - xenlism/wildfire: Minimal icon theme for *nix
Comment=
Icon=user-bookmarks
URL=https://github.com/xenlism/wildfire
