[Desktop Entry]
Version=1.0
Type=Link
Name=2D Rotated Rectangle Collision - General and Gameplay Programming - GameDev.net
Comment=
Icon=user-bookmarks
URL=https://www.gamedev.net/articles/programming/general-and-gameplay-programming/2d-rotated-rectangle-collision-r2604
