[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - numixproject/numix-gtk-theme: A modern flat theme with a combination of light and dark elements.
Comment=
Icon=user-bookmarks
URL=https://github.com/numixproject/numix-gtk-theme
