[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - snwh/paper-icon-theme: Paper Icon Theme
Comment=
Icon=user-bookmarks
URL=https://github.com/snwh/paper-icon-theme
