[Desktop Entry]
Version=1.0
Type=Link
Name=AUR (en) - Search Criteria: cursor
Comment=
Icon=user-bookmarks
URL=https://aur.archlinux.org/packages.php?O=0&L=0&C=17&K=cursor&SeB=nd&SB=n&SO=a&PP=50&do_Search=Go
