[Desktop Entry]
Version=1.0
Type=Link
Name=Linux OpenVPN Installation - Guides | Mullvad VPN
Comment=
Icon=user-bookmarks
URL=https://www.mullvad.net/en/guides/linux-openvpn-installation/
