[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - OrancheloTeam/oranchelo-icon-theme: Oranchelo icon theme by http://zayronxio.deviantart.com/
Comment=
Icon=user-bookmarks
URL=https://github.com/OrancheloTeam/oranchelo-icon-theme
