[Desktop Entry]
Version=1.0
Type=Link
Name=pyenv/pyenv: Simple Python version management
Comment=
Icon=user-bookmarks
URL=https://github.com/pyenv/pyenv
