[Desktop Entry]
Version=1.0
Type=Link
Name=Arch Linux - Pacman Mirrorlist Generator
Comment=
Icon=user-bookmarks
URL=https://www.archlinux.org/mirrorlist/
