[Desktop Entry]
Version=1.0
Type=Link
Name=OpenVPN Killswitch / Networking, Server, and Protection / Arch Linux Forums
Comment=
Icon=user-bookmarks
URL=https://bbs.archlinux.org/viewtopic.php?id=222621
